@page
@model POE_Task_1.Pages.DisastersModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h2>New Disaster</h2>

@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Start Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="startdate" value="@Model.disasters.startdate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">End Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="enddate" value="@Model.disasters.enddate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Location</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="location" value="@Model.disasters.location" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.disasters.description" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Required Aid Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="aidtype" value="@Model.disasters.aidtype" />
        </div>
    </div>

        @if(Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>