@page
@model POE_Task_1.Pages.GoodsDonationsModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h2>Goods Donation</h2> 

@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Donor</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="donor" value="@Model.goodsDonations.donor" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Remain Anonymous</label>
        <div class="col-sm-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div> 
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="date" value="@Model.goodsDonations.date" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Number of Items</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numberofitems" value="@Model.goodsDonations.numberofitems" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Choose category:</label>
        <div class="col-sm-6">
            <select name="categorytype" id="Category-type">
              <option value="clothes">Clothes</option>
              <option value="nonperishablefoods">Non‐perishable foods</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Define your own category:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="category" value="@Model.goodsDonations.category" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.goodsDonations.description" />
        </div>
    </div>

        @if(Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>