@page
@model POE_Task_1.Pages.MonetaryModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h2>List of Monetary Donations</h2>
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th>No.</th>
            <th>Name of Donor</th>
            <th>Date of Donation</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listDonations)
        {
            <tr class="table-info">
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.date</td>
                <td>R @item.amount</td>
            </tr>
        }
    </tbody>
</table>

<br />
<h2>List of Goods Donations</h2>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>No.</th>
            <th>Donor</th>
            <th>Date</th>
            <th>Number of Items</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listGoodsDonations)
        {
            <tr class="table-info">
                <td>@item.id</td>
                <td>@item.donor</td>
                <td>@item.date</td>
                <td>@item.numberofitems</td>
                <td>@item.category</td>
                <td>@item.description</td>
            </tr>
        }
    </tbody>
</table>

<br />
<h2>List of Goods In Inventory</h2>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listinventory)
        {
            <tr class="table-info">
                <td>@item.id</td>
                <td>@item.goodsname</td>
                <td>@item.goodsprice</td>
            </tr>
        }
    </tbody>
</table>

<br />
<h2>List of Disasters</h2>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>No.</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Description</th>
            <th>Required Aid Type</th>
            <th>Allocated Money</th>
            <th>Allocated Goods</th>
            <th>Allocate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listDisasters)
        {
            <tr class="table-info">
                <td>@item.id</td>
                <td>@item.startdate</td>
                <td>@item.enddate</td>
                <td>@item.location</td>
                <td>@item.description</td>
                <td>@item.aidtype</td>
                <td>R @item.allocatedmoney</td>
                <td>@item.allocatedgoods</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/AllocateMoney?id=@item.id">Money</a>
                    <a class="btn btn-danger btn-sm" href="/AllocateGoods?id=@item.id">Goods</a>
                </td>
            </tr>
        }
    </tbody>
</table>

