@page
@model POE_Task_1.Pages.PurchaseGoodsModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h2>Purchase Of Goods</h2>

<h2>Available Money: <span style="color: darkblue;">R @(POE_Task_1.Pages.PurchaseGoodsModel.totalMoney)</span></h2>

<br/>
<br/>
@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Goods Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="goodsname" value="@POE_Task_1.Pages.PurchaseGoodsModel.inventory.goodsname" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price of Goods</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="goodsprice" value="@POE_Task_1.Pages.PurchaseGoodsModel.inventory.goodsprice" />
        </div>
    </div>
        @if(Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-warning">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-warning" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>